<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Отзывы</title>
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div>
    <ul id="menu">
        <li><a href="/templates/book/all.html" th:href="@{'/book/all'}">&larr;</a></li>
        <li><a href="/templates/author/all.html" th:href="@{'/author/all'}" th:text="#{authors-menu-section}">Авторы</a></li>
        <li><a href="/templates/genre/all.html" th:href="@{'/genre/all'}" th:text="#{genres-menu-section}">Жанры</a></li>
    </ul>
    <h1>Отзывы</h1>
    <p sec:authorize="hasAnyAuthority('ADMIN', 'USER', 'MANAGER')" class="center">
        <a id="create" href="/templates/comment/creat" th:href="@{'/comment/create/' + ${book.getId()}}">Создать новый отзыв</a>
    </p>
    <table th:object="${book}">
        <caption style="padding-bottom: 0.2em;font-size: 1.2em;"
                 th:text="*{'Отзывы по книге ' + getBookName()}">
            Отзыв по книге
        </caption>
        <tr>
            <th rowspan="2" th:rowspan="*{getComments().size() + 1}">
                <img src="/static/images/sova.svg" th:src="@{/images/sova.svg}" width="200">
            </th>
            <th>Id</th>
            <th>Отзыв</th>
            <th sec:authorize="hasAnyAuthority('USER', 'MANAGER', 'DELETE')">Действия</th>
        </tr>
        <tr th:each="comment : *{getComments()}">
            <td th:text="${comment.getId()}">0</td>
            <td th:text="${comment.getComment()}">Отзыв</td>
            <td sec:authorize="hasAnyAuthority('USER', 'MANAGER', 'DELETE')">
                <a class="edit" href="edit.html" th:href="@{'/comment/edit/' + ${comment.getId()}}"
                   th:text="#{form-buttom-edit}">Изменить</a>
                <a sec:authorize="hasAuthority('DELETE')" class="delete" href="delete.html" th:href="@{'/comment/delete/' + ${comment.getId()}}"
                   th:text="#{form-buttom-delete}">Удалить</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>