<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Библиотека книг</title>
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div>
    <ul id="menu">
        <li>
            <a href="/templates/author/all.html" th:href="@{'/author/all'}"
               th:utext="#{authors-menu-section} + ${' <b>(' + authorCount + ')</b>'}">АВТОРЫ (0)</a>
        </li>
        <li>
            <a href="/templates/genre/all.html" th:href="@{'/genre/all'}"
               th:utext="#{genres-menu-section} + ${' <b>(' + genreCount + ')</b>'}">ЖАНРЫ (0)</a>
        </li>
        <li>
            <a href="/templates/book/all.html" th:href="@{'/book/all'}"
               th:utext="#{books-menu-section} + ${' <b>(' + bookCount + ')</b>'}">КНИГИ (0)</a>
        </li>
        <li id="lang">
            <a href="/templates/home.html" th:href="@{/(lang=en)}" th:text="#{en-lang-menu}">EN</a>
            <a href="/templates/home.html" th:href="@{/(lang=ru)}" th:text="#{ru-lang-menu}">RU</a>
        </li>
    </ul>
    <h1 th:text="#{project-name}">Библиотека книг</h1>
    <p style="text-align: center;">
        <img src="/static/images/sova.svg" th:src="@{/images/sova.svg}" width="400">
    </p>
</div>
</body>
</html>