<header th:fragment="header" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar fixed-top navbar-expand-md bg-dark navbar-dark mb-3">
        <div class="container">
            <a class="navbar-brand" th:href="@{'/'}">
                mp3collection
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/upload/form'}">Загрузить</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/temp'}">Файлы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/files'}">Нумерация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/files'}">Форматирование</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/files'}">Корзина</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/registration'}">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/files'}">Скачать</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="!isAuthenticated()" class="nav-link" th:href="@{'/login'}">Вход</a>
                        <label sec:authorize="isAuthenticated()" class="nav-link" for="form-logout">Выход</label>
                        <form sec:authorize="isAuthenticated()" th:action="@{'/logout'}" th:method="${'post'}">
                            <input th:type="${'submit'}" th:value="${'Выход'}" id="form-logout" style="display: none;">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
