<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Удалить автора</title>
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div>
    <ul id="menu">
        <li><a href="/templates/author/all" th:href="@{'/author/all'}">&larr;</a></li>
        <li><a href="/templates/genre/all.html" th:href="@{'/genre/all'}" th:text="#{genres-menu-section}">Жанры</a>
        </li>
        <li><a href="/templates/book/all.html" th:href="@{'/book/all'}" th:text="#{books-menu-section}">Книги</a></li>
    </ul>
    <h1>Удаление автора:</h1>
    <div style="display: flex; justify-content: center;">
        <form action="/author/delete" th:object="${author}" th:action="@{'/author/delete'}" method="post">
            <p class="center"><img src="/static/images/sova.svg" th:src="@{/images/sova.svg}" width="200"></p>
            <h2 style="color: red; text-align: center;">Вы действительно хотите удалить автора?</h2>
            <h2 style="text-align: center;" th:text="*{getAuthorName() + ' с Id=' + getId()}">Автор</h2>
            <input type="hidden" name="id" th:value="*{getId()}">
            <div style="display: flex; justify-content: center;"><input class="delete" type="submit" value="Удалить"></div>
        </form>
    </div>
</div>
</body>
</html>