<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать автора</title>
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div>
    <ul id="menu">
        <li><a href="/templates/author/all" th:href="@{'/author/all'}">&larr;</a></li>
        <li><a href="/templates/genre/all.html" th:href="@{'/genre/all'}">Жанры</a></li>
        <li><a href="/templates/book/all.html" th:href="@{'/book/all'}">Книги</a></li>
    </ul>
    <h1>Редактирование автора:</h1>
    <div>
        <table>
            <form action="/author/edit/1" th:action="@{'/author/edit/' + ${author.getId()}}" method="post">
                <tr>
                    <th rowspan="2">
                        <img src="/static/images/sova.svg" th:src="@{/images/sova.svg}" width="200">
                    </th>
                    <th>Id</th>
                    <th>Автор</th>
                    <th>Действия</th>
                </tr>
                <tr>
                    <td th:text="${author.getId()}">0</td>
                    <td><input type="text" name="name" value="Имя автора" th:value="*{author.getAuthorName()}"></td>
                    <td>
                        <input class="edit" type="submit" value="Изменить">
                    </td>
                </tr>
            </form>
        </table>
    </div>
</div>
</body>
</html>