<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создать жанр</title>
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div>
    <ul id="menu">
        <li><a href="/templates/genre/all.html" th:href="@{'/genre/all'}">&larr;</a></li>
        <li><a href="/templates/author/all" th:href="@{'/author/all'}">Авторы</a></li>
        <li><a href="/templates/book/all.html" th:href="@{'/book/all'}">Книги</a></li>
    </ul>
    <h1>Создать жанр:</h1>
    <table>
        <form action="/genre/create" th:action="@{'/genre/create'}" method="post" th:object="${genre}">
            <tr>
                <th rowspan="2">
                    <img src="/static/images/sova.svg" th:src="@{/images/sova.svg}" width="200">
                </th>
                <th>Жанр</th>
                <th>Действия</th>
            </tr>
            <tr>
                <td>
                    <input type="text" name="genreName" th:value="${genre.getGenreName()}" placeholder="введите жанр">
                    <div class="errors" th:if="${#fields.hasErrors('genreName')}" th:errors="*{genreName}">Error</div>
                </td>
                <td><input class="edit" type="submit" value="Создать"></td>
            </tr>
        </form>
    </table>
</div>
</body>
</html>