<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Нумерация файлов</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
    <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/3.6.2/jquery.min.js"></script>
    <script src="/js/functions.js"></script>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container mt-5 pt-3">
    <h1 class="text-center">Нумерация файлов</h1>
    <div class="col-auto">
        <div class="col pt-4">

            <div th:replace="fragments/listNumber :: list-number"></div>

        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
<script type="text/javascript">
    jQuery(function () {
        // Настройки csrf для запросов
        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });

        // Запуск процесса перемещения
        $('#t_body').on('click', '.goto', function () {
            $(this).off("click");
            let id = $(this).data('id');
            $('#' + id ).css('background-color', 'PaleGreen');
            $('.name').hover(
                function () {
                    if ($(this).data('id') !== id) {
                        $(this).css({'background-color': 'LightBlue', 'cursor': 'pointer'});
                    }
                },
                function () {
                    if ($(this).data('id') !== id) {
                        $(this).css({'background-color': '', 'cursor': ''});
                    }
                }
            ).on('click', function () {
                let idToStart = $(this).data('id');
                $.ajax('/api/file', {
                    type: 'PUT',
                    data: {'id': id, 'idToStart': idToStart},
                    success: function (res) {
                        if (res.length > 0) {
                            $('#t_body').empty();
                            let i = 1;
                            for (let file of res) {
                                let link = $('<a class="ms-3 text-decoration-none" href="/download/' + file['fileName'] + '"></a>')
                                    .append('<i class="bi bi-download text-secondary"></i>');
                                let tdPlay = $('<td></td>')
                                    .append('<i class="bi bi-caret-right-fill play" role="button" data-url="' + file['url'] + '"></i>')
                                    .append('<i class="bi bi-pause-fill text-danger pause d-none" role="button"></i>');
                                let tdAction = $('<td></td>')
                                    .append('<i class="ms-0 bi bi-arrow-down-up text-success goto" role="button" data-id="' + file['id'] + '"></i>')
                                    .append(link)
                                    .append('<i class="ms-3 bi bi-trash text-danger delete" role="button" data-id="' + file['id'] + '"></i>');
                                let creatTableLine = $('<tr id="' + file['id'] + '" className="line"></tr>')
                                    .append('<td>' + i++ + '</td>')
                                    .append(tdPlay)
                                    .append('<td>' + file['serialNumber'] + '</td>')
                                    .append('<td class="name" data-id="' + file['id'] + '">' + file['outputName'] + '</td>')
                                    .append('<td>' + file['extension'] + '</td>')
                                    .append('<td>' + playTimeFile(file['tag']['playTime']) + '</td>')
                                    .append('<td>' + sizeFileFormat(file['size']) + '</td>')
                                    .append('<td>' + file['tag']['bitrate'] + ' kbps</td>')
                                    .append(tdAction);
                                $('#t_body').append(creatTableLine);
                            }
                        }
                    }
                });
            });
        });

        // Удаление файла
        $('#t_body').on('click', '.delete', function () {
            let id = $(this).data('id');
            $.ajax('/api/file/' + id, {
                type: 'DELETE',
                success: function () {
                    window.location.replace("/number/list");
                }
            });
        });

        // Проигрывание файлов на странице
        let myAudio = new Audio();
        let url = '';
        $('#t_body').on('click', '.play', function () {
            if (url !== $(this).data('url')) {
                $('.play[data-url="' + url + '"]').removeClass('d-none').next().addClass('d-none');
                url = $(this).data('url');
                myAudio.src = url;
            }
            myAudio.play();
            $(this).addClass('d-none').next().removeClass('d-none');
        });
        $('#t_body').on('click', '.pause', function () {
            myAudio.pause();
            $(this).addClass('d-none').prev().removeClass('d-none');
        });
    });
</script>
</html>