<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Все жанры</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css" th:href="@{'/bootstrap/bootstrap.min.css'}">
  <script src="/static/bootstrap/bootstrap.bundle.min.js" th:src="@{'/bootstrap/bootstrap.bundle.min.js'}"></script>
  <script src="/static/js/info.js" th:src="@{'/js/info.js'}"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/templates/home.html" th:href="@{'/'}">Библиотека книг</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a id="author" class="nav-link" href="/templates/author.html" th:href="@{'/author'}">Авторы <span class="badge bg-secondary">0</span></a>
        </li>
        <li class="nav-item">
          <a id="genre" class="nav-link" href="/templates/genre.thml" th:href="@{'/genre'}">Жанры <span class="badge bg-secondary">0</span></a>
        </li>
        <li class="nav-item">
          <a id="book" class="nav-link" href="/templates/book.html" th:href="@{'/book'}">Книги <span class="badge bg-secondary">0</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div id="informer" class="row pt-5">
    <h1 class="text-center display-4 mt-1">Все жанры</h1>
    <div class="text-center">
      <table class="table">
        <thead class="table-light">
        <tr>
          <th>Id</th>
          <th>Название жанра</th>
          <th>Действия</th>
        </tr>
        </thead>
        <tbody id="body-table">
        <tr id="message-table">
          <td colspan="3">Данных нет...</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
<script src="/js/count.js"></script>
<script src="/js/getAllObject.js"></script>
<script src="/js/genre/all-genre.js"></script>
<script src="/js/deleteObject.js"></script>
</html>