<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Библиотека книг</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css" th:href="@{'/bootstrap/bootstrap.min.css'}">
</head>
<body>
<!--Панель навигации-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/templates/home.html" th:href="@{'/'}">Библиотека книг</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="/templates/author.html" th:href="@{'/author'}">Авторы <span id="author" class="badge bg-secondary">0</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/genre.thml" th:href="@{'/genre'}">Жанры <span id="genre" class="badge bg-secondary">0</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/book.html" th:href="@{'/book'}">Книги <span id="book" class="badge bg-secondary">0</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--Страница сайта-->
<div class="container">
    <div class="row pt-5">
        <h1 class="text-center display-4 mt-1">Библиотека книг</h1>
        <div class="text-center">
            <img class="rounded" src="/static/images/sova.svg" th:src="@{/images/sova.svg}" width="400">
        </div>
    </div>
</div>
</body>
<script src="/js/countObjectUpdateTextById.js"></script>
<script src="/js/initPageHome.js"></script>
</html>
