<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thymeleaf File Upload example</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
    <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/3.6.2/jquery.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container" style="max-width: 500px">
    <h3 class="mb-3">Thymeleaf File Upload example</h3>

    <form id="uploadForm" method="post" th:action="@{/files/upload}" enctype="multipart/form-data">
        <input id="input-file" type="file" name="file"/>
        <button class="btn btn-sm btn-outline-success float-right" type="submit">
            Upload
        </button>
    </form>

    <div th:if="${message != null}"
            class="alert alert-secondary alert-dismissible fade show text-center message mt-3"
            role="alert">
        [[${message}]]
        <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
